In [9]:
import numpy as np
import pandas as pd
import openpyxl #.xlsx
import xlrd #.xls

In [2]:
data=pd.read_csv("deliveries.csv")
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

1. How many unique batsmen are there?
Output: 516

In [4]:
data.batsman.nunique()

516

2. What is the total number of extra runs in IPL history?
Output: 12004

In [6]:
data.extra_runs.sum()

np.int64(12004)

3. What is the total number of runs scored in IPL history?
Output: 235290

In [12]:
data.total_runs.sum()

np.int64(235290)

4. What are the different types of dismissals, their counts, and percentages?

In [11]:
data.dismissal_kind.unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [12]:
data1=data["dismissal_kind"].value_counts()
data1

dismissal_kind
caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: count, dtype: int64

In [13]:
data2=data["dismissal_kind"].value_counts().sum()
data2

np.int64(8834)

In [14]:
data_end=(data1/data2)*100
data_end

dismissal_kind
caught                   60.538827
bowled                   17.896763
run out                   9.644555
lbw                       6.112746
stumped                   3.146932
caught and bowled         2.388499
retired hurt              0.135839
hit wicket                0.113199
obstructing the field     0.022640
Name: count, dtype: float64

In [15]:
data_Df=pd.DataFrame({"count": data1,"percentage": data2.round(2)})
data_Df

                       count  percentage
dismissal_kind
caught                  5348        8834
bowled                  1581        8834
run out                  852        8834
lbw                      540        8834
stumped                  278        8834
caught and bowled        211        8834
retired hurt              12        8834
hit wicket                10        8834
obstructing the field      2        8834

In [16]:
for i,j in data_Df.iterrows():
    print(i,":",j["count"],"(",j["percentage"],"%)")
#i=rows,j=columns

caught : 5348 ( 8834 %)
bowled : 1581 ( 8834 %)
run out : 852 ( 8834 %)
lbw : 540 ( 8834 %)
stumped : 278 ( 8834 %)
caught and bowled : 211 ( 8834 %)
retired hurt : 12 ( 8834 %)
hit wicket : 10 ( 8834 %)
obstructing the field : 2 ( 8834 %)

In [17]:
for i,j in data_Df.iterrows():
    print(f"{i}: {j["count"]} ({j["percentage"]}%)")

caught: 5348 (8834%)
bowled: 1581 (8834%)
run out: 852 (8834%)
lbw: 540 (8834%)
stumped: 278 (8834%)
caught and bowled: 211 (8834%)
retired hurt: 12 (8834%)
hit wicket: 10 (8834%)
obstructing the field: 2 (8834%)

5. Show records where total runs in a ball are more than 6.
Output: 118 records found.

In [10]:
data_morethan6=data[data["total_runs"]>6]
datacount=len(data_morethan6)
print(datacount,"records found")

118 records found

6. Show only batsman, batting_team, bowling_team, and bowler where runs > 6 in a ball.

In [18]:
data_all=data[data["total_runs"]>6][["batsman","batting_team","bowling_team","bowler"]]
data_count=len(data_all)
print(data_count,"records found")

118 records found

In [21]:
data_all=data.loc[data["total_runs"]>6,["batsman","batting_team","bowler"]]
print(len(data_all),"records found")

118 records found

7. How many total runs were made by BB McCullum against Royal Challengers Bangalore?

In [22]:
finalcode=data[(data["batsman"]=="BB McCullum") & (data["bowling_team"]=="Royal Challengers Bangalore")]
total=finalcode["total_runs"].sum()
print("total runs",total)

total runs 610

In [35]:
finalcode=data.loc[(data["batsman"]=="BB McCullum") & (data["bowling_team"]=="Royal Challengers Bangalore")]
print(finalcode["total_runs"].sum())

610

8. How many unique bowlers have bowled for Mumbai Indians?
Output: 75

In [143]:
bowlers=data[data["bowling_team"]=="Mumbai Indians"] 
total=bowlers.bowler.nunique()
total

75

In [41]:
bowlers=data.loc[(data["bowling_team"]=="Mumbai Indians"),"bowler"]
print(bowlers.nunique())

75

9. What are the different types of dismissals for Sunrisers Hyderabad as the batting team?Output: caught, bowled, caught and bowled, stumped, lbw, run out, hit wicket, retired hurt

In [42]:
name=data[(data["batting_team"]=="Sunrisers Hyderabad")& (data["dismissal_kind"].notna())]
dismissals=name.dismissal_kind.unique().tolist()
dismissals

['caught',
 'bowled',
 'caught and bowled',
 'stumped',
 'lbw',
 'run out',
 'hit wicket',
 'retired hurt']

10. How many runs did Rohit Sharma score against Sunrisers Hyderabad while batting for
Mumbai Indians?
Output: 218

In [44]:
#runs=data[(data["batsman"]=="RG Sharma") & (data["bowling_team"]=="Sunrisers Hyderabad")& (data["batting_team"]=="Mumbai Indians")]
#final=runs["batsman_runs"].sum()
#print(final)
runs=(data["batsman"]=="RG Sharma") & (data["bowling_team"]=="Sunrisers Hyderabad")& (data["batting_team"]=="Mumbai Indians")
final=data.loc[runs,"batsman_runs"].sum()
print(final)

218

11. Which batsman played the most balls?
Output: V Kohli

In [47]:
playercount=data.groupby("batsman")["ball"].count() #will get the count
maxcount=playercount.max()#will get the max value
name=playercount.idxmax()#will get the max value's index name=player name
print(maxcount)
print(name)
name2=playercount.idxmin()#will get min values index name=lowest player
print(name2)
final2=playercount.min()#will get min value
print(final2)

4211
V Kohli
C Nanda
1

12. Which bowler bowled the most valid deliveries (excluding wides and no-balls)?
Output: Harbhajan Singh

In [121]:
data["balls"]=data["ball"]-(data["wide_runs"]+data["noball_runs"])
name=data.groupby("bowler")["balls"].count().idxmax()
name

'Harbhajan Singh'

In [54]:
data=data.drop(["wide_runs","noball_runs"],axis=1,errors="ignore")
data["bowler"].value_counts().head(1)

bowler
Harbhajan Singh    3451
Name: count, dtype: int64

13. How many extra runs were conceded by Delhi Capitals against Mumbai Indians?
Output: 15

In [13]:
#extra=data[(data["batting_team"]=="Delhi Capitals") & (data["bowling_team"]=="Mumbai Indians")]
#total=extra.extra_runs.sum()
#total

np.int64(14)

In [59]:
extra=data.loc[(data["batting_team"]=="Mumbai Indians") & (data["bowling_team"]==""De"),"extra_runs"].sum()

print(extra)

14

In [57]:
extraruns=data.loc[(data["batting_team"]=="Mumbai Indians") & (data["bowling_team"]=="Delhi Capitals"),"extra_runs"].sum()
print(extraruns)

15